version: "3.8"

services:
  app:
    build:
      context: .
      target: dev
    env_file:
      - .env
    environment:
      - PORT=5000
    volumes:
      - ./app:/code/app
    ports: 
      - 5000:5000